@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<div>
    <address id="ContactMe">
        Kurt Weber<br />
        WeCan{Code}IT<br />
        50 Public Square #200<br />
        Cleveland, OH 44113<br />
    </address>
</div>
<address>
    <strong>Email: </strong>   <a href="mailto:weberkrt@msn.com">weberkrt@msn.com</a>
</address>
