@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<div>
    <div id="ContactMe">
        <p>Created by Kurt Weber</p>
        <p>October 10, 2016</p>
        <p>Software Engineer Apprentice</p>
    </div>
    <br />
    <p>This application will help you keep an inventory of your wardrobe.</p>
</div>