@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="col-md-6">
        <img id="JumbotronImage" src="~/Images/Wardrobe.jpg" />
    </div>
    <div>
        <h2>Wardrobe Application</h2>
        <p class="lead">This appplication will keep track of your Wordrobe Inventory.</p>
    </div>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View Current Inventory</h2>
        <p>View what is currently in your wardrobe</p>
        <p><a class="btn btn-primary" href="../tblWardrobes/Index" >View Inventory &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add new item to inventory</h2>
        <p>Add new item to your wardrobe</p>
        <p><a class="btn btn-default" href="..//tblWardrobes/Create">Add New Item &raquo;</a></p>
    </div>
</div>